<center>
<h1>Top 10 Contributors</h1>
</center><script src="/chartjs/Chart.js"></script>
		<div id="canvas-holder">
			<canvas id="chart-area" width="300" height="300"/>
		</div>
	<script>

		var pieData = {{{graph}}};

			window.onload = function(){
				var ctx = document.getElementById("chart-area").getContext("2d");
				window.myPie = new Chart(ctx).Pie(pieData);
			};
	</script>
<br />
<h1>Recent Commits</h1>
"<p>
    {{#each messages}}
        {{this.author.name}} added {{this.id}} - {{this.message}}<br />
    {{/each}}
</p>
</center>
