<center>
<h1>Top 10 Contributors</h1>
</center><script src="/chartjs/Chart.js"></script>
		<div id="canvas-holder">
			<canvas id="chart-area" width="300" height="300"/>
		</div>
	<script>

		var pieData = [
				{
					value: 300,
					color:"#F7464A",
					highlight: "#FF5A5E",
					label: "Red"
				},
				{
					value: 50,
					color: "#46BFBD",
					highlight: "#5AD3D1",
					label: "Green"
				},
				{
					value: 100,
					color: "#FDB45C",
					highlight: "#FFC870",
					label: "Yellow"
				},
				{
					value: 40,
					color: "#949FB1",
					highlight: "#A8B3C5",
					label: "Grey"
				},
				{
					value: 120,
					color: "#4D5360",
					highlight: "#616774",
					label: "Dark Grey"
				}

			];

			window.onload = function(){
				var ctx = document.getElementById("chart-area").getContext("2d");
				window.myPie = new Chart(ctx).Pie(pieData);
			};
	</script>
<br />
<h1>Recent Commits</h1>
"<p>
    {{#each messages}}
        {{this.author.name}} added {{this.id}} - {{this.message}}<br />
    {{/each}}
</p>
</center>
