<h3>What is it?</h3>

<p>A bot will automatically merge any PR on this repo that gets enough votes from the community. PRs can contain
    anything, even changes to the bot's voting code.</p>

<h3>Where can I find it?</h3>

<p>You can find the bot and its code in it's <a
        href="https://github.com/botwillacceptanything/botwillacceptanything">GitHub Repository</a>.

<h3>Where can I find more information?</h3>

<p>You can find more information in the <a href="https://github.com/botwillacceptanything/botwillacceptanything/blob/master/README.md">README</a> file.</p>
